@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  background: #002e6b;
  overflow: hidden;
  position: relative;
  color: white;
}

/* Particles background */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.wrapper {
  max-width: 450px;
  width: 100%;
  padding: 30px;
  background: transparent;
  border-radius: 10px;
}

.wrapper .title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #01ffff;
}

form .input-line {
  position: relative;
  margin-bottom: 25px;
}

.input-line input {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #01ffff;
  color: white;
  font-size: 16px;
  outline: none;
}

.input-line input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.toggle-password {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  cursor: pointer;
}

/* Remember Me */
.remember-me {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  margin-top: -10px;
  margin-bottom: 10px;
}

.pass {
  margin-bottom: 20px;
}

.pass a {
  color: #01ffff;
  text-decoration: none;
  font-size: 15px;
}

.pass a:hover {
  text-decoration: underline;
}

/* Button */
.button input {
  background-color: #01ffff;
  color: #002e6b;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  transition: 0.3s;
  cursor: pointer;
}

.button input:hover {
  background-color: #00dede;
  box-shadow: 0 0 10px #01ffff;
}

/* Signup */
.signup-link {
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
}

.signup-link a {
  color: #01ffff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* Social */
.social-login {
  text-align: center;
  margin-top: 25px;
}

.social-login p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #bbb;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons .icon-link {
  font-size: 20px;
  color: #01ffff;
  transition: 0.3s ease;
}

.social-icons .icon-link:hover {
  color: #00cfd1;
}

@media (max-width: 480px) {
  .wrapper {
    padding: 20px 15px;
  }

  .wrapper .title {
    font-size: 26px;
  }

  .input-line input {
    font-size: 14px;
  }

  .button input {
    font-size: 14px;
    padding: 10px;
  }

  .signup-link,
  .pass a,
  .social-login p {
    font-size: 13px;
  }

  .social-icons .icon-link {
    font-size: 18px;
  }
}
